name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

jobs:
  build:

    strategy:
        matrix:
            php: [ '8.2', '8.4' ]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{matrix.php}}
        coverage: none

    - name: Install
      run: |
        composer install
        npm ci

    - name: Test
      run: |
        composer test
        npm test
